.child-container {
  /* margin-left:auto;
  margin-right:auto; */
  /* color:darkgray; */
  /* height:fit-content; */
  height:500px;
  /* padding:10px 5px; */
  /* background-color: rgb(66, 63, 63); */
  border: 1px black solid;
}
.child-container h3 {
  background-color: rgb(181, 185, 189);
  text-align: center;
  margin-top: 0;
  padding: 7.5px 0;
}
.child-container .child-chat-box {
  padding:5px;
  width:40%;
  border: 1px silver solid;
  margin-left: 5px;
}
textarea {
  width:80%;
  font-size: 16px;
  color: rgba(46, 43, 51, 0.932);
}
.child-send-btn {
  border: none;
  width: 45px;
  height: 45px;
  margin-left: 5px;
  position: absolute;
  cursor: pointer;
  background-color: #c9d2d2;
}
.child-send-btn img {
  height: 21px;
}
