
<div class="body-container">

    <!-- LEFT Side for Child -->
    <div class="child-containedd">
      <app-first-child></app-first-child>
    </div>

    <hr class="parent-child-separator">

    <!-- Right Side for Parent -->
    <div class="parent-container">
      <h3> P </h3>
      <div class="parent-chat-box">
        <p>
          Let me create an account for You
        </p>
        <textarea placeholder="Type your message here ...">
        </textarea>
        <button class="parent-send-btn" value="send_to_child">
          <img src="../../../assets/images/send_btn_16.png" alt=" > " />
        </button>
      </div>
    </div>

</div>
