<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to ** Lazy-Loading Example ! **
  </h2>
<ul>
  <li>
    <h2><a href="javascript:void(0)" [routerLink]="['/races/racecards']">Race Cards</a></h2>
  </li>
  <li>
    <h3><a  href="javascript:void(0)" [routerLink]="['/races/details']">Race Details </a></h3>
  </li>
  <li>
    <h3><a  href="javascript:void(0)" [routerLink]="['/races/profiles']">Profiles</a></h3>
  </li>
  <li>
    <h3><a  href="javascript:void(0)" [routerLink]="['/about-us']">About 'Lazy-Loading' </a></h3>
  </li>
</ul>

<hr class="head_body_separator">
<router-outlet></router-outlet>
