
.app-header {
  text-align: center;
  background-color: rgb(240, 243, 245);
  position: absolute;
  width:100%;
  display: flex;
  justify-content: space-around;
  box-shadow:black -1px 3px 10px;
}
.app-header h2 {
  margin-top: 0;
  padding-top: 10px;

}
/* .app-body {
  position: absolute;
} */
